@import "variables";
#app {

  // 主体区域 Main container
  .main-container {
    min-height: 100%;
    transition: margin-left .28s;
    margin-left: $sideBarWidth;
    position: relative;
  }

  // 侧边栏 Sidebar container
  .sidebar-container {
    transition: width 0.28s;
    width: $sideBarWidth !important;
    height: 100%;
    position: fixed;
    font-size: 0px;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    overflow: hidden;

    .scrollbar-wrapper {
      overflow-x: hidden !important;
      .el-scrollbar__view {
        height: 100%;
      }
    }

    .el-menu {
      border: none;
      height: 100%;
      width: 100% !important;
      .el-menu-item {
        height: 40px;
        line-height: 40px;
        display: flex;
        align-items: center;
      }
    }

    .txt-menu-link {
      display: flex;
      align-items: center;
      width: 100%;
      overflow: hidden;
      .icon-menu, .txt-menu {
        transition: all .2s;
      }
      .icon-menu {
        width: 20px;
        text-align: center;
      }
      .txt-menu {
        padding-left: 15px;
      }
    }

    // menu hover
    .submenu-title-noDropdown,
    .el-submenu__title {
      .txt-menu {
        padding-left: 15px;
      }
      &:hover {
        background-color: $menuHover !important;
        .icon-menu, .txt-menu {
          color: $colorTextWhite;
        }
      }
    }
  }

  .hideSidebar {
    .sidebar-container {
      width: 54px !important;
      .title-group {
        .icon-robot {
          width: 20px;
          height: 20px;
        }
        .txt-title {
          &:after {
            display: none;
          }
        }
      }
    }

    .main-container {
      margin-left: 54px;
    }

    .el-submenu {
      overflow: hidden;
      &>.el-submenu__title {
        .el-submenu__icon-arrow {
          display: none;
        }
      }
    }
  }
}

// when menu collapsed
.el-menu--vertical {
  .nest-menu .el-submenu>.el-submenu__title,
  .el-menu-item {
    &:hover {
      // you can use $subMenuHover
      background-color: $menuHover !important;
    }
  }

  // the scroll bar appears when the subMenu is too long
  >.el-menu--popup {
    max-height: 100vh;
    overflow-y: auto;

    &::-webkit-scrollbar-track-piece {
      background: #d3dce6;
    }

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: #99a9bf;
      border-radius: 20px;
    }
  }
}